A2 de Linguagens de Programação – 26/11/2018
--
Professor: Renato Rocha Souza  
--

Nome do Aluno(a):

In [11]:
meu_nome = input('Entre com o seu nome completo: ')
print('Olá, {}!'.format(meu_nome))
print('Bom trabalho!')

Entre com o seu nome completo: Fábio
Olá, Fábio!
Bom trabalho!

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import random
import re
import string
import time
import pymysql
import sqlite3
import getpass
import pandas.io.sql as psql
import networkx as nx
from IPython.display import clear_output
%matplotlib inline

Questão 1 (1,0 ponto):  

Utilizando Python + SQL, crie uma tabela "aluno" em banco de dados no sqlite que tenha os seguintes campos:

+ id 
+ nome
+ data_nascimento
+ matricula

Escolha os tipos de dados apropriados. O campo id é chave primária, e deve ser autoincrementável. 

Veja:  
https://sqlite.org/datatype3.html    
https://sqlite.org/autoinc.html  
https://www.tutorialspoint.com/sqlite/sqlite_update_query.htm

In [ ]:
conn = sqlite3.connect('../../Dados/meudatabase.sqlite')
cur = conn.cursor()

Questão 2 (1.5 ponto):  

Conecte ao banco SQLite "iris_database.sqlite"e responda, demonstrando os comandos Python + SQL apropriados:  

a) Há quantas "Species" diferentes na tabela "iris"?  
b) Quantos registros totais há na tabela "iris"?  

Considerando a superfície das pétalas e sépalas como retangular, responda:  

c) Qual espécie ("Species") contém, em média, a maior área de pétalas?  
d) Qual espécie ("Species") contém, em média, a maior área total (pétalas e sépalas)?  

(Por curiosidade, as espécies de Iris contém 3 pétalas e 3 sépalas)

In [ ]:
conn = sqlite3.connect('../../Dados/iris_database.sqlite')
cur = conn.cursor()

In [ ]:
COUNT([ALL | DISTINCT] 'iris_database.sqlite');

In [ ]:
select 'name' from tracks

In [ ]:
SELECT
 COUNT(DISTINCT title)from
 employees;

Questão 3 (1.5 pontos):  

Importe o arquivo ../../Dados/votesurvey.xls para um dataframe do Python usando o método apropriado, e responda às questões:  

a) Exiba as 15 primeiras linhas (essa é muito fácil!).  
b) Qual a média de salário desejado, dentre os eleitores de cada presidente?  
c) Qual fator tem maior influência sobre o salário atual? Sexo ou Idade?  
d) Crie uma nova coluna no dataframe original que exiba o salário atual dividido pela idade.

In [3]:
df_zoo = pd.read_excel('../../Dados/votesurvey.xls')
df_zoo[0:16]

    Gender  Age  Salary before Stern  Expected salary Candidate
0     Male   27                60000           110000      Bush
1     Male   30               125000           125000      Bush
2     Male   27                50000           120000      Bush
3     Male   26                56000           100000      Bush
4     Male   27                82000           100000      Bush
5     Male   32               150000           150000      Bush
6   Female   24                55000           100000      Bush
7     Male   30               110000           150000      Bush
8     Male   26                48000            80000      Bush
9     Male   26               120000            80000      Bush
10  Female   24                59000            90000      Bush
11    Male   27                65000           125000      Bush
12    Male   26                55000           120000      Bush
13    Male   28                70000           125000      Bush
14    Male   25                80000           100000      Bush
15    Male   25                45000           100000      Gore

In [ ]:
df.columns
Index(['Gender', 'Age', 'Salary before Stern', 'Expected','Candidate'], dtype='object')
df = pd.DataFrame({'Candidate' : ["Bush", "Gore"]})
df

In [ ]:
#c)

In [ ]:
#d)

Questão 4 (1.5 pontos): 

Transforme o arquivo ../../Dados/DomCasmurroMachadoAssis.txt em uma string no Python e responda, usando, quando possível, expressões regulares:  

a) Quais as 10 palavras mais frequentes que _começam_ com "a" ou "A"?  
b) Quantas palavras distintas que começam com letras _maiúsculas_ há no texto?  
c) Quantas palavras há no texto com apenas uma; com apenas duas; e com apenas 3 vogais?

In [10]:
with open('../../Dados/DomCasmurroMachadoAssis.txt','r') as f:
    texto = f.read()
    palavras = texto.split()
    palavras = [p.strip(string.ponctuation)] for p in palavras

SyntaxError: invalid syntax (<ipython-input-10-24e283a8332f>, line 4)

In [ ]:
#b)
maiusculas = re.findall(r'\s[$A-Z]{1}[a-z]*',texto)
print(len(maiusculas))

In [ ]:
#c)
tresvogais = ['A','E','I','O','U','a','e','i','o','u']
tresvogais = []
for palavra in palavras:
    palavraorig = palavra
    palavra = list(palavra)
    quantidadevogais = 0
    for vogal in vogais:
        while vogal in palavra:
            palavra.remove(vogal)
            quantidadevogais+=1
    if quantidadevogais==3:
        tresvogais.append(palavraorig)
print(tresvogais)

Questão 5 (1.5 pontos):    

Utilizando apenas o Shell Linux, e utilizando o arquivo ../../Dados/DomCasmurroMachadoAssis.txt, diga os comandos para responder às seguintes perguntas:  

a) Quais as 10 palavras mais frequentes que _terminam_ com "a" ou "A"?  
b) Quantas palavras distintas que começam com _minúsculas_ há no texto?   
c) Como ordenar as palavras distintas por ordem de "rima"?

In [ ]:
#a)

In [ ]:
#b)

In [ ]:
#c)

Questão 6 (2.0 ponto):  

Conecte ao banco Python/Dados/chinook.sqlite e responda:

a) Leia para dataframes do Pandas as tabelas "invoices", "invoice_items", "customers" e "tracks"; e mostre quais as faixas compradas por clientes que têm o primeiro nome começando com a letra "M".  
b) Crie um histograma de faixas ("tracks") mais compradas.  
c) Escreva um script em Python + SQL para construir um dicionário tendo os nomes dos artistas ("artists") como chaves e uma lista dos álbuns ("albuns") respectivos como valores.

In [ ]:
#a)

In [ ]:
#b)

In [ ]:
#c)

Auto-avaliação (1 ponto):    
Escreva sua auto-avaliação (mínimo de 3 linhas) e atribua a esta um valor entre 0 e 1, levando em consideração o aproveitamento na disciplina.

### Escreva aqui